/* CLONEBUSTER - CSS Overrides v2 */
/* Fixes all broken paths and forces visibility */

/* ============================================================ */
/* SIRI HERO TEXT - SVG MASK WITH GRADIENT */
/* ============================================================ */
.siri {
    -webkit-mask: url(../assets/hero_siri__dqh8piyszs02_large.svg) !important;
    mask: url(../assets/hero_siri__dqh8piyszs02_large.svg) !important;
    -webkit-mask-size: 100% !important;
    mask-size: 100% !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-repeat: no-repeat !important;
    background: linear-gradient(121deg, #FE0576 24%, #EA12B6 40%, #38CBFF 60%) !important;
    background-size: 300% 100% !important;
    width: 384px;
    height: 218px;
    position: relative;
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}

/* ============================================================ */
/* CARPLAY DASHBOARD MASK */
/* ============================================================ */
.overview-car-carplay img,
.overview-car-carplay.sticky-hw img,
picture.overview-car-carplay img {
    -webkit-mask: url(../assets/car_carplay_mask__gdalbb16ucq6_xlarge.png) !important;
    mask: url(../assets/car_carplay_mask__gdalbb16ucq6_xlarge.png) !important;
    -webkit-mask-size: 100% !important;
    mask-size: 100% !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-repeat: no-repeat !important;
    opacity: 1 !important;
    visibility: visible !important;
}

/* ============================================================ */
/* HOMEPOD MINI MASK */
/* ============================================================ */
.overview-hero-homepod-mini img {
    -webkit-mask: url(../assets/hero_homepod_mini_mask__ey7dvp5lrtw2_large.png) !important;
    mask: url(../assets/hero_homepod_mini_mask__ey7dvp5lrtw2_large.png) !important;
    -webkit-mask-size: 100% !important;
    mask-size: 100% !important;
}

/* ============================================================ */
/* FORCE ALL IMAGES VISIBLE */
/* ============================================================ */
picture,
picture img,
.section-hero-images picture,
.section-hero-images picture img,
.overview-hero-airpods,
.overview-hero-airpods img,
.overview-hero-iphone,
.overview-hero-iphone img,
.overview-hero-watch,
.overview-hero-watch img,
.overview-hero-ipad,
.overview-hero-ipad img,
.overview-hero-apple-tv,
.overview-hero-apple-tv img,
.overview-hero-homepod-mini,
.overview-hero-homepod-mini img {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}

/* ============================================================ */
/* BENTO BOX / TILE IMAGES */
/* ============================================================ */
.scenario-tile picture,
.scenario-tile picture img,
.scenario-tile .tile-image,
.scenario-tile .tile-image img,
.main-tile picture,
.main-tile picture img,
.main-tile .image-wrapper picture,
.main-tile .image-wrapper picture img,
.quote-icon,
.quote-icon img {
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
}

/* ============================================================ */
/* GO SECTION IMAGES */
/* ============================================================ */
.overview-go-airpods img,
.overview-go-iphone img {
    opacity: 1 !important;
    visibility: visible !important;
}

/* ============================================================ */
/* RESPONSIVE MASK FIXES */
/* ============================================================ */
@media only screen and (max-width: 1440px) {
    .overview-car-carplay img,
    .overview-car-carplay.sticky-hw img {
        -webkit-mask: url(../assets/car_carplay_mask__gdalbb16ucq6_large.png) !important;
        mask: url(../assets/car_carplay_mask__gdalbb16ucq6_large.png) !important;
    }
}

@media only screen and (max-width: 1068px) {
    .siri {
        width: 254px !important;
        height: 144px !important;
    }
    .overview-car-carplay img,
    .overview-car-carplay.sticky-hw img {
        -webkit-mask: url(../assets/car_carplay_mask__gdalbb16ucq6_medium.png) !important;
        mask: url(../assets/car_carplay_mask__gdalbb16ucq6_medium.png) !important;
    }
    .overview-hero-homepod-mini img {
        -webkit-mask: url(../assets/hero_homepod_mini_mask__ey7dvp5lrtw2_medium.png) !important;
        mask: url(../assets/hero_homepod_mini_mask__ey7dvp5lrtw2_medium.png) !important;
    }
}

@media only screen and (max-width: 734px) {
    .siri {
        width: 154px !important;
        height: 88px !important;
    }
    .overview-car-carplay img,
    .overview-car-carplay.sticky-hw img {
        -webkit-mask: url(../assets/car_carplay_mask__gdalbb16ucq6_small.png) !important;
        mask: url(../assets/car_carplay_mask__gdalbb16ucq6_small.png) !important;
    }
    .overview-hero-homepod-mini img {
        -webkit-mask: url(../assets/hero_homepod_mini_mask__ey7dvp5lrtw2_small.png) !important;
        mask: url(../assets/hero_homepod_mini_mask__ey7dvp5lrtw2_small.png) !important;
    }
}

/* ============================================================ */
/* ANIMATION KEYFRAMES */
/* ============================================================ */
@keyframes siri-gradient {
    0% { background-position: 100% 100%; }
    100% { background-position: 38% 100%; }
}

.siri {
    animation: siri-gradient 3s cubic-bezier(0.33, 1, 0.68, 1) forwards !important;
}
