/* ═══════════════════════════════════════════════════════════════════ */
/* MEDIA QUERIES EXTRACTED BY CLONEBUSTER */
/* ═══════════════════════════════════════════════════════════════════ */

@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx)
@media (hover: hover)
@media only screen and (inverted-colors)
@media only screen and (max-width: 1023px)
@media only screen and (max-width: 1044px)
@media only screen and (max-width: 1068px)
@media only screen and (max-width: 480px)
@media only screen and (max-width: 640px)
@media only screen and (max-width: 734px)
@media only screen and (max-width: 833px)
@media only screen and (max-width:1068px)
@media only screen and (max-width:1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi)
@media only screen and (max-width:1068px)and (max-width:1068px)
@media only screen and (max-width:1068px)and (max-width:734px)
@media only screen and (max-width:1200px)
@media only screen and (max-width:1200px)and (max-width:1068px)
@media only screen and (max-width:1200px)and (max-width:734px)
@media only screen and (max-width:1200px)and (min-width:1441px)
@media only screen and (max-width:320px)
@media only screen and (max-width:320px)and (max-width:1068px)
@media only screen and (max-width:320px)and (max-width:734px)
@media only screen and (max-width:734px)
@media only screen and (max-width:734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi)
@media only screen and (max-width:734px)and (max-width:1068px)
@media only screen and (max-width:734px)and (max-width:734px)
@media only screen and (max-width:900px)
@media only screen and (min-width: 1441px)
@media only screen and (min-width: 641px) and (max-width: 833px)
@media only screen and (min-width: 834px)
@media only screen and (min-width: 834px) and (max-width: 833px)
@media only screen and (min-width: 834px) and (min-width: 834px)
@media only screen and (min-width: 834px)and (max-width: 1023px)
@media only screen and (min-width:1069px)
@media only screen and (min-width:1441px)
@media only screen and (min-width:1441px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-width:1441px)and (min-resolution:1.5dppx),only screen and (min-width:1441px)and (min-resolution:144dpi)
@media only screen and (min-width:1441px)and (min-width:1441px)
@media only screen and (min-width:2300px)
@media only screen and (min-width:735px)
@media only screen and (min-width:735px)and (max-width:1068px)
@media only screen and (orientation:landscape)and (max-width:1068px)
@media only screen and (orientation:portrait)
@media print
@media(max-width: 1023px)
@media(max-width: 1023px)and (max-width: 833px)
@media(max-width: 1044px)
@media(max-width: 833px)
@media(max-width: 833px)and (max-width: 833px)
@media(prefers-contrast: more)
